* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
}

.flexbox-container {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
  padding: 15px;
  width: 75%;
}

.flexbox-container div {
  align-items: center;
  border: 1px solid black;
  display: flex;
  padding: 10px;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5 {
  border: 1px solid black;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  width: 75%;
}

#gen-btn {
  margin: 20px 0;
}

.flexbox-cat,
.flexbox-rps,
.flexbox-color {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin: 20px 0;
}

.flexbox-rps {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
  margin: 20px 0;
}

.flex-blackjack-row1,
.flex-blackjack-row2,
.flex-blackjack-row3 {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-blackjack-row1,
.flex-blackjack-row2 {
  background: url("/images/bj-background.jpg") no-repeat center;
  background-size: cover;
  color: #ffffff;
}

.flex-blackjack-row1 div {
  border: 1px solid black;
  min-height: 350px;
  flex: 1;
  padding: 15px;
  text-align: center;
}

.flex-blackjack-row1 div img {
  height: 210px;
  margin-bottom: 15px;
  margin-left: 15px;
  width: 150px;
}

.flex-blackjack-row1 div img:first-of-type {
  margin-left: 0;
}

.flex-blackjack-row1 h2 {
  margin-bottom: 20px;
}

.flex-blackjack-row2 button,
.flex-blackjack-row3 table {
  margin: 20px 0;
}

table,
th,
td {
  border: 1px solid black;
  padding: 10px;
}

.flexbox-cat img {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

/* For Rock Paper, Scissors game */

#rps-div img {
  cursor: pointer;
  height: 200px;
  width: 200px;
}

#rps-div img:hover,
#rps-div img.on {
  box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}

#rps-div img.on-red {
  box-shadow: 0px 10px 50px rgba(243, 38, 24, 1);
}
