* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
}

.flexbox-container {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
  padding: 15px;
  width: 75%;
}

.flexbox-container div {
  align-items: center;
  border: 1px solid black;
  display: flex;
  padding: 10px;
}

.container-2 {
  border: 1px solid red;
  margin: 0 auto;
  text-align: center;
  width: 75%;
}

#gen-btn {
  margin: 20px 0;
}

.flexbox-cat {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  margin: 20px 0;
}

.flexbox-cat img {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);

}
